.header {
  background-color: coral;
  // position: fixed;
  // top: 0px;
  // height: 30px;
  // width: 100%;
  text-align: center;
}

.nav-link {
  color: #b7bbbf;
}

.nav-link:hover {
  color: coral;
}
