.header {
  text-align: center;
}

.nav-link {
  color: #b7bbbf !important;
}

.nav-link:hover {
  color: rgb(238, 55, 55) !important;
}

.logout {
  background-color: rgb(33, 37, 41) !important;
  border-color: rgb(33, 37, 41) !important;
}

.logout:hover {
  background-color: rgb(33, 37, 41) !important;
  border-color: rgb(33, 37, 41) !important;
}
