.form-wrapper {
  width: 600px;
  align-self: center;
  border: 1px outset white;
  margin-top: calc(100vh - 650px);
  margin-left: calc(100vh - 250px);
}

.bg {
  background-image: url("../../../public/register-form-background-img.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 48px);
}

.form-title {
  text-align: center;
}
