.form-wrapper {
  width: 50%;
  margin: auto;
  // margin-top: 1rem;
  // margin-bottom: 1rem;
  //margin-left: 30vw;
  border: 1px white;
  // margin-top: calc(100vh - 650px);
  // margin-left: calc(100vh - 250px);
}

.bg {
  background-image: url("../../../public/register-form-background-img.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 48px);
}

.form-title {
  text-align: center;
}
